textarea {
    background-image: url('https://th.bing.com/th/id/OIP.1wApEJQvwcEZIVWuvaSwlAHaE8?w=299&h=200&c=7&r=0&o=7&pid=1.7&rm=3');
    position:relative;
    left:0;
    top:0;
    width:200;
    height:50;
}